
# eclipse files
.settings
.project
.classpath

# code review tools
.checkstyle
.pmd
.pmdruleset.xml
.fbExcludeFilterFile

# maven pom files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next


# IntellyJ
.idea
*.iml

# output folders
bin
target
test-output


# mac os related files
.DS_Store

